.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .slider {
    flex-direction: column;
  }
}
