.sidebar {
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80px;
  background: #11101d;
  padding: 5px 15px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar--open {
  width: 300px;
}

.sidebar__header {
  display: flex;
  align-items: center;
  padding: 15px;
  height: 50px;
  transition: 400ms;
}

.sidebar__menu {
  height: 20px;
  width: 20px;
  min-width: 20px;
  position: absolute;
  right: calc((80px - 20px) / 2);
  color: white;
  cursor: pointer;
}

.sidebar__logo {
  color: white;
  text-align: center;
  font-size: 1.25rem;
  margin-right: 50px;
  white-space: nowrap;
  opacity: 0;
  transition: 400ms;
}

.sidebar__logo--open {
  opacity: 1;
  transition: 400ms;
}

.sidebar__list {
  list-style: none;
  margin-top: 20px;
}

.sidebar__list-item {
  position: relative;
  margin: 8px 0px;
  list-style: none;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar__link {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 12px;
  transition: 200ms;
  cursor: pointer;
}

.sidebar__link:hover {
  background-color: white;
}

.sidebar__link:hover .sidebar__label {
  color: #11101d;
}

.sidebar__link:hover .sidebar__icon {
  color: #11101d;
}

.sidebar__link:hover ~ .sidebar__tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  transform: translateY(20px);
}

.sidebar__icon {
  /* Total Sidebar Width = 80px, Sidebar Padding = 15px, Icon Width = 20px*/
  margin: calc((80px - 2 * 15px - 20px) / 2);
  height: 20px;
  width: 20px;
  min-width: 20px;
  color: white;
}

.sidebar__label {
  color: white;
  text-align: center;
  opacity: 0;
  white-space: nowrap;
  transition: 400ms;
}

.sidebar__label--open {
  opacity: 1;
  transition: 400ms;
  display: inline;
}

.sidebar__tooltip {
  position: absolute;
  height: 30px;
  top: -10px;
  left: calc(100% + 30px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar__tooltip--open {
  display: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    position: fixed;
    height: 60px;
    transition: all 0.5s ease;
    width: 100%;
    overflow: hidden;
    background-color: #11101dcb;
  }

  .sidebar__logo {
    opacity: 1;
  }

  .sidebar--open {
    background-color: #11101dcb;
    height: 100vh;
    transition: all 0.5s ease;
    width: 100%;
  }

  .sidebar__list {
    /* display: none; */
  }

  .sidebar__icon {
    opacity: 0;
    transition: all 0.5s ease;
  }

  .sidebar--open .sidebar__icon {
    opacity: 1;
    transition: all 0.5s ease;
  }

  .sidebar--open .sidebar__list {
    display: block;
  }

  .sidebar--open .sidebar__menu {
    color: white;
    transition: 400ms;
  }

  .sidebar--open .sidebar__logo {
    color: white;
  }
}
