@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./syntax-highlighting.css";

:root {
  --scrollbar: #adb0c2;
  font-variant-ligatures: none;
}

.dark {
  --scrollbar: #373949;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 4px;
}

:is(h1, h2, h3, h4, h5, h6) {
  /* To account for the header */
  scroll-margin-top: 6rem;
}

/* Anchor Headings */
.prose .anchor {
  @apply invisible absolute no-underline;

  margin-left: -1em;
  width: 100%;
  cursor: pointer;
}

.anchor:hover {
  visibility: visible;
}

.prose .anchor:after {
  @apply text-primary-200 dark:text-primary-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}
