.employment {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  width: 70%;
}

.box {
  background-color: grey;
}

.box__content {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: lightgray;
}

.box__skills {
  grid-row: 3/4;
  grid-column: 2/3;
  background-color: lightskyblue;
}
